.bilan-psy {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

#consultation-individuelle-title {
  font-family:Karla, sans-serif;
  letter-spacing: 1.2px;
  font-size: 32px;
  color:#DDA394;
  font-weight: bolder;

}

.sous-title-consult {
  font-size: 24px;
  color:#B9B29C;
  margin-top: 10px;
}

.clarification {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
}
#bilan-psy-title, #consultation-individuelle-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color:#DDA394;
  padding: 20px;
}
 #consultation-individuelle-container {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto;
}

#consultation-individuelle-container h3 {
  color:#B9B29C;
  font-style: karla, sans-serif;
  font-weight: bold;
}

.img-consult > img {
  width: 90%;
  object-fit: cover;
  border-radius: 6px;
 }


 @media (max-width: 1003px ) {
  #consultation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-consult > img {
    margin-bottom: 30px;
    width: 80%;
    margin-right: 0 !important;
  }

  #consultation-individuelle-container {
   padding:0 20px;
 }

 #consultation-text {
    margin-left: 0 !important;
  }

 #sous-title-consult {
    font-size: 18px;
  }

 }
