// Specific CSS for your home-page
#logo {
  border-radius: 8px;
  text-align: center;
  width : 380px;
  height: 300px;
}

#contact-container {
  background-color: #fff;
  line-height: 1.5;
  margin: 20px auto;
  padding: 20px;
}

#home-title {
  font-family:Karla, sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.2rem;
  color:#DDA394;
  font-weight: bolder;
}

.sous-title {
  font-size: 20px;
  color:#B9B29C;
  margin-top: 10px;
}

.sous-title em {
  font-size: 20px;
}

.sous-title:hover {
  cursor: pointer;

}

.sous-title {
  position: relative;
  transition: color 0.3s ease;
}

.sous-title:hover {
  color: #B9B29C;
}

.sous-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background: #B9B29C;
  transition: width 0.3s ease;
}

.sous-title:hover::after {
  width: 50%; /* trait centré et plus discret */
}



.canigou img {
  width: 90%;
  height: auto;   /* ✨ important */
  max-width: 580px; /* valeur optionnelle pour limiter la taille */
  border-radius: 6px;
}

.rdv, .mail {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.rdv {
  color:#DDA394;
  font-size: 32px;
  font-family: karla, sans-serif !important;
}

.adresse {
  font-size: 20px;
  font-weight: bold;
}

.mail, .adresse {
  color:#B9B29C;
}

.contact {
  font-size: 20px;
  color:#B9B29C;
}

#home-container {
  min-height: calc(100vh - 130px);
  flex-wrap: wrap;
  background-color: #fff;
  line-height: 1.5;
  border-radius: 8px;
  margin: 20px auto;
}

@media (max-width: 1099px) {

    #home-title {
    font-size: 1.3rem;
    letter-spacing: 0.8px;
    line-height: 2.6rem;

    }

    .sous-title {
    font-size: 12px;

    }

    #home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }

  .canigou img {
    max-width: 450px;
    height: auto; /* remplacer ! */
    margin-bottom: 30px;
    margin-top: 0px;
  }
}
