// Specific CSS for your home-page
#logo {
  border-radius: 8px;
  text-align: center;
  width : 300px;
  height: 300px;
}

.canigou img {
  max-width: 100%;
  height: 400px;
  border-radius: 6px;
}

.nom, .tel {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.nom {
  color:#DDA394
}

.tel, .adresse {
  color:#B9B29C;
}

.contact {
  font-weight: bolder;
  font-size: 24px;
  color:#B9B29C;
}
