// Specific CSS for your home-page
#logo {
  border-radius: 8px;
  text-align: center;
  width : 300px;
  height: 300px;
}

#contact-container {
  background-color: #fff;
  line-height: 1.5;
  margin: 20px auto;
  padding: 20px;
}

.canigou img {
  max-width: 100%;
  height: 400px;
  border-radius: 6px;
}

.rdv, .mail {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.rdv {
  color:#DDA394;
  font-size: 32px;
}
.adresse {
  font-size: 20px;
  font-weight: bold;
}

.mail, .adresse {
  color:#B9B29C;
}

.contact {
  font-size: 20px;
  color:#B9B29C;
}

#home-container {
height: calc(100vh - 130px);
}

@media (max-width: 1081px) {
   #logo {
    margin-top: 400px
  }
}
@media (max-width: 1065px) {
  #home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }

  .canigou img {
    height: 300px;
    margin-bottom: 70px;
  }
}
