#prestations-container {
  background-color: #fff;
  width: 80%;
  // background-color: #F5E5E1;
  box-sizing: border-box;
  line-height: 1.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 20px auto;
  padding: 40px;
}

#citation {
  font-family: pacifico, cursive;
  font-size: 28px;
  text-align: center;
  // color: #55534F;
  color:#DDA394;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
}

#bilans-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
 gap: 100px;
}

#bilan {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height:250px ;
  text-align: center;
  // color: #55534F;
  opacity: 0.8;
  color:#DDA394;
  font-family: Karla, sans-serif;
  font-size: 26px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

#bilan:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  opacity: 1;
  background-color: #fff;

}

.click {
  color : #B9B29C;
  font-size: 16px;
  text-decoration: none;
}

.click:hover {
  color : white;
  font-weight: bold;
  cursor: pointer;

}

 #bilan > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
 }

 ul > li {
  list-style: none;
 }

 .info-click {
  font-size: 14px;
  color: #DDA394;;
  margin-top: 20px;
 }

@media (max-width: 996px) {

  #bilans-container {
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
  }

}


@media (max-width:772px) {
  #prestations-container {
    width: 90%;
    padding: 20px;
  }

  #bilan {
    width: 250px;
    height: 220px;
    font-size: 20px;
  }
}
