.title, .title-qui {
   font-family: "Pacifico", cursive;
   letter-spacing: 1px;
    font-size: 1.8rem;
    color:#DDA394;
  }

#quisuisje-container {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto;
}

 #logo-photo {
  border-radius: 8px;
  text-align: center;
  width : 360px;
  height: 360px;
}


@media (max-width: 968px) {
  #logo-photo {
    width: 200px;
    height: 200px;
  }
  *
  .title, .title-qui {
    font-size: 1.5rem;
  }
}
