.title, .title-qui {
   font-family: "Pacifico", cursive;
   letter-spacing: 1px;
    font-size: 1.8rem;
    color:#DDA394;
    line-height: 4rem;
    font-weight: lighter;
  }


#quisuisje-container {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto;
}

#quisuisje-container h3 {
  color:#B9B29C;
  font-style: karla, sans-serif;
  font-weight: bold;
}

#logo-photo {
  border-radius: 8px;
  text-align: center;
  width : 340px;
  height: 340px;

}

.text-photo-container {
  height: 600px; /* plus grand pour laisser de l’espace */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* texte en haut, image en bas */
  align-items: center;
}

@media (max-width: 768px) {
  .text-photo-container {
    height: auto;           /* s’adapte au contenu */
    justify-content: flex-start; /* empile texte et image */
    margin-bottom: 20px;
  }
  #logo-photo {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 968px) {
  #logo-photo {
    width: 200px;
    height: 200px;
  }

  .title, .title-qui, .title-qui-suis-je {
    font-size: 1.2rem;
  }

  .title-qui {
    margin-bottom: 30px;
    line-height: 2.5rem;
  }

}

@media (max-width:772px) {
  #quisuisje-container {
    width: 90%;
    padding: 20px;
  }


}
