<div class="footer">
  <div class="droits-reserves">
    <p>© 2025 Violaine Soulas. Tous droits réservés.</p>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/violainesoulaspsychologue/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/violaine-soulas" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
