<div class="footer">
  <p>© 2025 Violaine Soulas. Tous droits réservés.</p>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
