
<div class="btn btn-primary">
  <a  target="_blank" class="text-white text-decoration-none" href="https://www.doctolib.fr/psychologue/saint-esteve/violaine-soulas">Prendre rendez-vous sur Doctolib</a>
</div>
