<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <!-- Bouton hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu responsive -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav gap-4 mx-4 py-2">
        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        <a class="nav-link" href="#">Qui suis-je ?</a>
        <a class="nav-link" href="#">Prestations</a>
        <a class="nav-link" href="#">Prendre rendez-vous</a>
        <a class="nav-link" href="#">Tarifs</a>
        <a class="nav-link" href="#">Informations pratiques</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
