<%= render "shared/navbar" %>
<div class="container cormorant">
  <h1 class="cormorant mb-6" id="consultation-individuelle-title">
      Consultation individuelle
  </h1>

</div>

<%= render "shared/link-doctolib" %>
<%= render "shared/footer" %>
