<%= render "shared/navbar" %>
<div class="container cormorant">
  <div class=" mt-3 row d-flex justify-content-center align-items-end" id="consultation-individuelle-container">

    <h1 id="consultation-individuelle-title" class="text-center mt-3">
      Consultation individuelle
    </h1>

    <!-- Bloc 1 -->
    <section>
      <h3 class="sous-title-consult text-center">Enfants, adolescents, adultes <br> je vous accueille dans un cadre bienveillant et confidentiel.</h3>
    </section>

  <div class="d-flex justify-content-center align-items-center mt-4" id="consultation-content">



    <div class="img-consult me-2">
      <%= image_tag "entretien.png", alt: "Entretien", class: "img-fluid" %>

    </div>

    <div class="consultation-text ms-4 d-flex flex-column justify-content-center">
      <!-- Bloc 2 -->
      <section>
        <h3>À votre rythme</h3>
        <p>Chaque consultation est personnalisée selon vos besoins.</p>
      </section>

      <!-- Bloc 3 -->
      <section>
        <h3>Pour quoi ?</h3>
        <p>Soutien psychologique</p>
        <p>Questionnements scolaires ou personnels</p>
        <p>Préparation à un bilan</p>
      </section>

      <!-- Bloc 4 -->
      <section>
        <h3>Comment ?</h3>
        <p>Écoute active</p>
        <p>Compréhension de vos ressources</p>
        <p>Solutions concrètes pour avancer</p>
      </section>

      <!-- Bloc 5 -->
      <section>
        <h3>Le but</h3>
        <p>Chaque rencontre est un moment pour mieux se comprendre et progresser sereinement.</p>
      </section>
    </div>

  </div>


</div>

</div>


<%= render "shared/link-doctolib" %>
<%= render "shared/footer" %>
