<%= render "shared/navbar" %>
<div class="container cormorant">
  <h1 class="title cormorant mb-6" id="consultation-individuelle-title">
      Consultation individuelle
  </h1>

<div class="row d-flex justify-content-center align-items-center" id="quisuisje-container">

  <div class="col d-flex flex-column align-items-center">
    <div >
      <p><h3>Enfants, adolescents, adultes : je vous accueille dans un cadre bienveillant et confidentiel.</h3></p>
    </div>

    <div>
      <p><h3>À votre rythme</h3>
      chaque consultation est personnalisée selon vos besoins.</p>
    </div>

    <div><p><h3>Pour quoi ?</h3></p>
        Soutien psychologique

        Questionnements scolaires ou personnels

        Préparation à un bilan
    </div>

    <div><p><h3>Comment ?</h3></p>

      Écoute active

      Compréhension de vos ressources

      Solutions concrètes pour avancer
    </div>

    <div>
      <p><h3>Le but</h3></p>
    Chaque rencontre est un moment pour mieux se comprendre et progresser sereinement.</p>
    </div>

  </div>
  </div >
</div>

<%= render "shared/link-doctolib" %>
<%= render "shared/footer" %>
