<%= render 'shared/navbar' %>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="text-center mt-5">


       <%= image_tag "LogoViolaine.png", alt: "Violaine Soulas", id:"logo" %>

       </div>
    </div>
  </div>
</div>
