<%= render 'shared/navbar' %>
<div class="container">
  <div class="row d-flex justify-content-center my-2" id="quisuisje-container">
    <div class="col">
       <%= image_tag "LogoViolaine.png", alt: "Violaine Soulas", id:"logo" %>
    </div>
    <div class="col-8">
      <p class="title text-center">Écouter, comprendre, accompagner : ces trois mots résument ma manière d’être psychologue.</p>

<p class="cormorant mt-5">Psychologue depuis plus de 18 ans, j’ai exercé au sein de l’Éducation nationale auprès des jeunes et de leurs familles. Cette expérience m’a permis de développer une expertise solide dans l’accompagnement des parcours scolaires, personnels et professionnels.

Aujourd’hui, j’accueille enfants, adolescents et adultes dans un cadre bienveillant et confidentiel, afin de les aider à surmonter leurs difficultés, mieux se comprendre et retrouver un équilibre émotionnel.
</p>
<p class="cormorant">Mon objectif : que chaque rencontre soit un pas vers un mieux-être durable, dans le respect du rythme et des besoins de chacun.</p>


    </div>
  </div>
</div>
<%= render 'shared/footer' %>
