<%= render 'shared/navbar' %>
<div class="container d-flex justify-content-center align-items-center my-2 ">
  <div class="row d-flex justify-content-center align-items-center" id="quisuisje-container">
    <div class="col d-flex justify-content-center align-items-center">
       <%= image_tag "moi.JPG", alt: "Violaine Soulas", id:"logo-photo" %>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 mt-3">
      <p class="title text-center">Écouter, comprendre, accompagner,</p>
        <p class="title text-center">telle est ma manière d’être psychologue.</p>

      <p class="cormorant mt-4">Originaire de Saint-Estève, j’ai étudié la psychologie à l’Université Paul Valéry de Montpellier avant d’intégrer l’Éducation nationale, où j’ai exercé plus de 15 ans auprès de jeunes et de leurs familles </p>
        <p class="cormorant">J’y ai pris plaisir à les accompagner dans leurs parcours scolaires et personnels : orientation, questionnements, constitution de dossiers MDPH, compréhension d’un diagnostic, prévention du harcèlement, soutien psychologique, travail en équipe…</p>
        <p class="cormorant">Parallèlement, j’ai également travaillé au sein d’un CIO (Centre d’Information et d’Orientation), où je recevais des étudiants et un public adulte, afin de les aider dans leurs choix d’orientation, leurs questionnements professionnels et personnels, et à mieux comprendre leurs besoins.</p>
      <p class="cormorant">Aujourd’hui, j’accueille enfants, adolescents et adultes dans un cadre bienveillant et confidentiel, pour des bilans psychologiques ou des entretiens d’accompagnement. Mon objectif est d’accompagner chacun dans la compréhension de soi, de ses besoins et de ses ressources, afin de progresser à son rythme vers un parcours scolaire, personnel ou professionnel plus serein et épanoui.</p>
      </p>
      <p class="cormorant">Mon objectif : que chaque rencontre soit un pas vers un mieux-être durable, dans le respect du rythme et des besoins de chacun.</p>
    </div>
  </div>
</div>
<%= render "shared/link-doctolib" %>
<%= render 'shared/footer' %>
