<%= render 'shared/navbar' %>
<div class="container">
  <div class="row d-flex justify-content-center my-4" id="quisuisje-container">
    <div class="col d-flex justify-content-center align-items-center">
       <%= image_tag "moi.JPG", alt: "Violaine Soulas", id:"logo" %>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 mt-4">
      <p class="title text-center">Écouter, comprendre, accompagner : ces trois mots résument ma manière d’être psychologue.</p>

      <p class="cormorant mt-5">Psychologue depuis plus de 18 ans, j’ai exercé au sein de l’Éducation nationale auprès des jeunes et de leurs familles.
        <p class="cormorant">Cette expérience m’a permis de développer une expertise solide dans l’accompagnement des parcours scolaires, personnels et professionnels.</p>

      <p class="cormorant">Aujourd’hui, j’accueille enfants, adolescents et adultes dans un cadre bienveillant et confidentiel, afin de les aider à surmonter leurs difficultés, mieux se comprendre et retrouver un équilibre émotionnel.</p>
      </p>
      <p class="cormorant">Mon objectif : que chaque rencontre soit un pas vers un mieux-être durable, dans le respect du rythme et des besoins de chacun.</p>
    </div>
  </div>
</div>
<%= render "shared/link-doctolib" %>
<%= render 'shared/footer' %>
