<%= render 'shared/navbar' %>
<div class="container d-flex justify-content-center align-items-center  ">
  <div class="row d-flex justify-content-center align-items-center" id="quisuisje-container">
    <h1 class="title text-center" id="home-title"> Qui suis-je ?</h1>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center justify-content-between text-photo-container">
          <h2 class="title-qui text-center">Je m’appuie sur la science pour orienter mon travail et sur l’humain pour le mettre en sens</h2>
          <%= image_tag "moi.JPG", alt: "Violaine Soulas, psychologue à Saint-Estève", id:"logo-photo" %>
        </div>
      </div>
      <div class="col-sm-10 col-md-8 col-lg-6 mt-">
        <h3 class="mt-3">Mon parcours</h3><p class="cormorant ">Originaire de Saint-Estève, j’ai étudié la psychologie à l’Université Paul Valéry de Montpellier avant d’intégrer l’Éducation nationale, où j’ai exercé plus de 15 ans en tant que Psychologue auprès de jeunes et de leurs familles </p>
        <p class="cormorant">J’y ai pris plaisir à les accompagner dans leurs parcours scolaires et personnels : orientation, questionnements, constitution de dossiers MDPH, compréhension d’un diagnostic, prévention du harcèlement, soutien psychologique, travail en équipe…</p>
        <p class="cormorant">Parallèlement, j’ai également travaillé au sein d’un CIO (Centre d’Information et d’Orientation), où je recevais des étudiants et un public adulte, afin de les aider dans leurs choix d’orientation, leurs questionnements professionnels et personnels, et à mieux comprendre leurs besoins.</p>
         <h3 class="mt-4">Mon approche</h3><p class="cormorant">Aujourd’hui, j’accueille enfants, adolescents et adultes dans un cadre bienveillant et confidentiel, pour des bilans psychologiques ou des entretiens d’accompagnement. </p>
         <h3 class="mt-4">Mon objectif</h3><p class="cormorant ">Accompagner chacun dans la compréhension de soi, de ses besoins et de ses ressources, afin de progresser à son rythme vers un parcours scolaire, personnel ou professionnel plus serein et épanoui.</p>
         <%# Chaque rencontre est un pas vers un mieux-être durable, dans le respect du rythme et des besoins de chacun. %>
      </div>
    </div>
</div>
<%= render "shared/link-doctolib" %>
<%= render 'shared/footer' %>
