.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 0px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  color: rgba(0,0,0,0.3);
  background-color: #B9B29C;
  opacity: 0.9;

}

.droits-reserves > p {
  margin: 16px 0;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

@media (max-width: 783px) {
  .droits-reserves > p {
  font-size: 11px;
  }
}
