.navbar {
  position: sticky;
  background-color: #FFFFFF;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Karla, sans-serif;
  background-color: #DDA394 !important;
  opacity: 0.8;
}

.navbar-nav > a {

  font-size: 16px;

}
