// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  font-family: 'Karla', sans-serif;
  padding-bottom: 60px; /* To ensure content is not hidden behind the fixed footer */
  background-color: #fff;

}


.cormorant {
  font-family: "Cormorant", serif;
  font-size: 20px;
}
